<div class="header">
    <h1>Clase de APIs </h1>
    <p class="subtitle">Introducción</p>
</div>
<app-back-button></app-back-button>
<div class="step-container">
    <div class="step">
        <div class="step-number">1</div>
        <div class="step-content">
            <h2>API First</h2>
            <p>Es el desarrollo de una API como primera prioridad porque es más ordenado primero establecer los
                contratos del código y luego realizar el código</p>
        </div>
    </div>
    <div class="step-container">
        <div class="step">
            <div class="step-number">2</div>
            <div class="step-content">
                <h2>Historias de Usuario</h2>
                <p>Super importante primero definir las Historias de Usuario antes de arrancar</p>
                 <p>Es importante escribir las historias de usuario para que sólo hagan referencia a un Verbo HTTP</p>
            </div>

        </div>
    </div>
    <div class="step-container">
        <div class="step">
            <div class="step-number">3</div>
            <div class="step-content">
                <h2>Desarrollo</h2>
                <p>La aplicación se desarrolla según el sistema, no al revés</p>
            </div>

        </div>
    </div>
    <div class="step-container">
        <div class="step">
            <div class="step-number">4</div>
            <div class="step-content">
                <h2>Contrato</h2>
                <h3>
             Es la especificación de la API (Endpoints, métodos, datos, request, response)
                </h3>
                <p>Define:</p>
                 <p>Métodos HTTP soportados</p>
                 <p>los Endpoints</p>
                 <p>El cuerpo de la solicitud (request body)</p>
                 <p>Respuestas(responses)</p>
                 <p>Los esquemas de datos (data schemas)</p>
                 <p>Mecanismos de autenticación y autorización</p>
                 <p>posibles limitaciones (rate limiting)</p>
            </div>

        </div>
    </div>

    <div class="step-container">
        <div class="step">
            <div class="step-number">5</div>
            <div class="step-content">
                <h2>Ejemplo</h2>
                <h4>
                    Como cliente, quiero poder ver el saldo actual de mi cuenta en la página principal, para poder conocer rápidamente mi disponibilidad de fondos al ingresar a la aplicación
                </h4>
                <h5>Criterios de aceptación</h5>
                <p>Sistema reactivo: viene un petición del servidor sin que el usuario lo pida</p>

                <h5>Se puede pasar esto al front</h5>
         
                <p>Happy path</p>

                <pre><code>GET/accounts/{{ '{' }}accountid{{ '}' }}/balance
                    JSON
                    {{ '{' }}
                        "accountid": "2312414",
                        "balance": 1600.34,
                        "currency": "USD"
                    {{ '}' }}
                </code></pre>
                <p>Unhappy path</p>
                <p>Se puede pasar al Front un código de error para que el que codea el front sabe cuál va a ser la respuesta de la API ante un error, para poder hacer la pantalla de error</p>
                <code><pre>
                    "error": "Problema de balance"
                    "code": "BALANCE_ERROR"
                </pre></code> 

                
               
            </div>

        </div>
    </div>