<div class="landing-page">
  <div class="header">
    <h1>Generador QR by JH.Dev</h1>
    <p class="subtitle">Generá tu QR personalizado</p>
  </div>
  <div class="content">
    <h2>Generador de QR Personalizado</h2>
    <form (ngSubmit)="generateQRCode()">
      <mat-form-field appearance="fill" class="qr-input">
        <mat-label>Texto para el QR</mat-label>
        <textarea
          matInput
          [(ngModel)]="qrData"
          placeholder="Ingresa el texto o URL (puedes incluir saltos de línea)"
          name="qrData"
          rows="4"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="generate-button">Generar QR</button>
    </form>
    <div *ngIf="qrGenerated; else noData" class="qr-container">
      <qrcode
        #qrCode
        [qrdata]="qrData"
        [width]="256"
        [errorCorrectionLevel]="'Q'"
        [elementType]="elementType"
        (qrCodeURL)="onQRCodeURL($event)"
        colorDark="#1111a2"
      ></qrcode>
      <a *ngIf="qrCodeUrl" [href]="qrCodeUrl" [download]="'qr-code.png'">Descargar QR</a>
    </div>
    <ng-template #noData>
      <p class="no-data-message">Ingresa un texto o URL y haz clic en 'Generar QR' para crear tu QR.</p>
    </ng-template>
  </div>
</div>