<div class="landing-page">
  <div class="header">
    <h1>Generador QR by JH.Dev</h1>
    <p class="subtitle">Generá tu QR personalizado</p>
  </div>
  <div class="content">
    <h3>Ingresá tu texto aquí</h3>
    <form (ngSubmit)="generateQRCode(); $event.preventDefault()">
      <mat-form-field appearance="fill" class="qr-input">
        <mat-label>Texto para el QR</mat-label>
        <textarea
          matInput
          [(ngModel)]="inputText"
          placeholder="Ingresa el texto o URL (puedes incluir saltos de línea)"
          name="inputText"
          rows="4"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="generate-button">Generar QR</button>
      <button mat-button (click)="resetQR()" class="reset-button" *ngIf="qrGenerated">Resetear</button>
    </form>
    <div *ngIf="qrGenerated; else noData" class="qr-container">
      <qrcode
        #qrCodeElement
        [qrdata]="qrData"
        [width]="256"
        [errorCorrectionLevel]="'Q'"
        [elementType]="elementType"
        [imageSrc]="imageSrc"
        [imageHeight]="imageHeight"
        [imageWidth]="imageWidth"
        (qrCodeURL)="onQRCodeURL($event)"
        colorDark="1686AE"
        colorLight="F9F6F3"
      ></qrcode>
      <a *ngIf="qrCodeUrl" [href]="qrCodeUrl" [download]="'qr-code.png'">Descargar QR</a>
    </div>
    <ng-template #noData>
      <p class="no-data-message">Ingresa un texto o URL y haz clic en 'Generar QR' para crear tu QR.</p>
    </ng-template>
  </div>
</div>