<div class="header">
    <h1>Clases </h1>
    <p class="subtitle">muchas</p>
</div>
<app-back-button></app-back-button>

<div class="step-container">
    <div class="step">
        <div class="options-container">
            <div class="option-card" (click)="navigateTo('clases-api')">
                <div class="option-icon github-icon"></div>
                <div class="option-content">
                    <h2>Clases APIs</h2>
                    <p>Anotaciones de clase</p>
                    <div class="option-button">Ver guía</div>
                </div>
            </div>
        </div>
    </div>
</div>